<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>TurfProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CricketFormPojo</display-name>
    <servlet-name>CricketFormPojo</servlet-name>
    <servlet-class>CricketFormPojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CricketFormPojo</servlet-name>
    <url-pattern>/CricketFormPojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CricketFormDAO</display-name>
    <servlet-name>CricketFormDAO</servlet-name>
    <servlet-class>CricketFormDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CricketFormDAO</servlet-name>
    <url-pattern>/CricketFormDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CricketFormController</display-name>
    <servlet-name>CricketFormController</servlet-name>
    <servlet-class>CricketFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CricketFormController</servlet-name>
    <url-pattern>/CricketFormController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CricketFormController2</display-name>
    <servlet-name>CricketFormController2</servlet-name>
    <servlet-class>CricketFormController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CricketFormController2</servlet-name>
    <url-pattern>/CricketFormController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CricketFormController3</display-name>
    <servlet-name>CricketFormController3</servlet-name>
    <servlet-class>CricketFormController3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CricketFormController3</servlet-name>
    <url-pattern>/CricketFormController3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FootballPojo</display-name>
    <servlet-name>FootballPojo</servlet-name>
    <servlet-class>FootballPojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FootballPojo</servlet-name>
    <url-pattern>/FootballPojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FootballDAO</display-name>
    <servlet-name>FootballDAO</servlet-name>
    <servlet-class>FootballDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FootballDAO</servlet-name>
    <url-pattern>/FootballDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FootballFormController1</display-name>
    <servlet-name>FootballFormController1</servlet-name>
    <servlet-class>FootballFormController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FootballFormController1</servlet-name>
    <url-pattern>/FootballFormController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FootballFormController2</display-name>
    <servlet-name>FootballFormController2</servlet-name>
    <servlet-class>FootballFormController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FootballFormController2</servlet-name>
    <url-pattern>/FootballFormController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FootballFormController3</display-name>
    <servlet-name>FootballFormController3</servlet-name>
    <servlet-class>FootballFormController3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FootballFormController3</servlet-name>
    <url-pattern>/FootballFormController3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelete</display-name>
    <servlet-name>AdminDelete</servlet-name>
    <servlet-class>AdminDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelete</servlet-name>
    <url-pattern>/AdminDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteController</display-name>
    <servlet-name>AdminDeleteController</servlet-name>
    <servlet-class>AdminDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteController</servlet-name>
    <url-pattern>/AdminDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDAO</display-name>
    <servlet-name>AdminDAO</servlet-name>
    <servlet-class>AdminDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDAO</servlet-name>
    <url-pattern>/AdminDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPojo</display-name>
    <servlet-name>AdminPojo</servlet-name>
    <servlet-class>AdminPojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPojo</servlet-name>
    <url-pattern>/AdminPojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginPojo</display-name>
    <servlet-name>AdminLoginPojo</servlet-name>
    <servlet-class>AdminLoginPojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginPojo</servlet-name>
    <url-pattern>/AdminLoginPojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginDAO</display-name>
    <servlet-name>AdminLoginDAO</servlet-name>
    <servlet-class>AdminLoginDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginDAO</servlet-name>
    <url-pattern>/AdminLoginDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddPojo</display-name>
    <servlet-name>AdminAddPojo</servlet-name>
    <servlet-class>AdminAddPojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddPojo</servlet-name>
    <url-pattern>/AdminAddPojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddDAO</display-name>
    <servlet-name>AdminAddDAO</servlet-name>
    <servlet-class>AdminAddDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddDAO</servlet-name>
    <url-pattern>/AdminAddDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddController</display-name>
    <servlet-name>AdminAddController</servlet-name>
    <servlet-class>AdminAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddController</servlet-name>
    <url-pattern>/AdminAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewPojo</display-name>
    <servlet-name>ReviewPojo</servlet-name>
    <servlet-class>ReviewPojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewPojo</servlet-name>
    <url-pattern>/ReviewPojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewDAO</display-name>
    <servlet-name>ReviewDAO</servlet-name>
    <servlet-class>ReviewDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewDAO</servlet-name>
    <url-pattern>/ReviewDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingPojo</display-name>
    <servlet-name>RatingPojo</servlet-name>
    <servlet-class>RatingPojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingPojo</servlet-name>
    <url-pattern>/RatingPojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingDAO</display-name>
    <servlet-name>RatingDAO</servlet-name>
    <servlet-class>RatingDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingDAO</servlet-name>
    <url-pattern>/RatingDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingController</display-name>
    <servlet-name>RatingController</servlet-name>
    <servlet-class>RatingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingController</servlet-name>
    <url-pattern>/RatingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMainDeleteController</display-name>
    <servlet-name>AdminMainDeleteController</servlet-name>
    <servlet-class>AdminMainDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMainDeleteController</servlet-name>
    <url-pattern>/AdminMainDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCommentDeleteController</display-name>
    <servlet-name>AdminCommentDeleteController</servlet-name>
    <servlet-class>AdminCommentDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCommentDeleteController</servlet-name>
    <url-pattern>/AdminCommentDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report</display-name>
    <servlet-name>Report</servlet-name>
    <servlet-class>Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mail</display-name>
    <servlet-name>Mail</servlet-name>
    <servlet-class>Mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mail</servlet-name>
    <url-pattern>/Mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginPojo</display-name>
    <servlet-name>UserLoginPojo</servlet-name>
    <servlet-class>UserLoginPojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginPojo</servlet-name>
    <url-pattern>/UserLoginPojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginDAO</display-name>
    <servlet-name>UserLoginDAO</servlet-name>
    <servlet-class>UserLoginDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginDAO</servlet-name>
    <url-pattern>/UserLoginDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginController</display-name>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBooking</display-name>
    <servlet-name>CancelBooking</servlet-name>
    <servlet-class>CancelBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBooking</servlet-name>
    <url-pattern>/CancelBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteController1</display-name>
    <servlet-name>AdminDeleteController1</servlet-name>
    <servlet-class>AdminDeleteController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteController1</servlet-name>
    <url-pattern>/AdminDeleteController1</url-pattern>
  </servlet-mapping>
</web-app>